.body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.about-us{
  height: 800px;
  width: 100%;
  padding: 90px 0;
  background: #f7eded;
}
.pic{
  height: auto;
  width:  302px;
}
.about{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 540px;
}
a{
  text-decoration: none;
color: #fff2f2;
}
.text h2{
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10px;

}
.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: opx;
}
