  body {
    font-family: Arial, sans-serif;
    background-color: #f1f1aa;
  }
  
  .container {
    display: flex;
    margin: 0 auto;
    padding: 20px;
    
    left: auto;
    width: 1080px;
    
  }
  .form{
width: 600px;
background-color: #ffffff;
  }
  .contact{
    width: 500px;
    text-align: center;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
  }
  
  button{
    background-color: #4CAF50;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  