body{
	height: 1000px;

}

.login-form {	
	margin: auto;
	width: 50%;
	padding: 20px;
	background-color: #c4c1c1;
	border: 1px solid #000000;
	border-radius: 5px;
	text-align: center;
	margin-top: 10%;
}
.form-group {
    margin-bottom: 10px;
  }

label {
    display: block;
    margin-bottom: 5px;
  }
  
input[type="text"], input[type="password"] {
	padding: 10px;
	margin-top: 10px;
	border: none;
	border-radius: 5px;
}
a{
    text-decoration: none;
  color: #fff2f2;
  }
button[type="submit"] {
	padding: 10px;
	margin-top: 10px;
	background-color: #000000;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #525852;
}
.forget{
	color: black;
}
.member{
	font-size: 1 rem;
	margin-top: 5px;
	color: rgb(5, 5, 5);
  }
  .member a{
	color: rgb(243, 9, 9);
  }